<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
  <add name="FP_Group_27.Properties.Settings.ResManConStr" connectionString="Server=localhost;Port=3306;Database=db_resource_management;Uid=root;Pwd=;" />
  <add name="FP_Group_27.Properties.Settings.LoginConStr" connectionString="Server=localhost;Port=3306;Database=db_user_login;Uid=root;Pwd=;" />
 </connectionStrings>
</configuration>